<html>
{% load staticfiles %}
    <title>Investment Portfolio</title>
    <head>
        <link rel = "stylesheet"  type = "text/css" href = "{% static 'css/bootstrap.min.css' %}" />
        <link rel = "stylesheet"  type = "text/css" href = "{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
        <link rel = "stylesheet"  type = "text/css" href = "{% static 'css/style.css' %}" />
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/gif" >

    </head>
<body>

    {% block content %}
    {% endblock %}


<!-- <footer>
  <p>Developed By : Abhishek Soni & Divya Agrawal</p>
</footer> -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>






<!--
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
-->