{% extends 'base.html' %}
{% block content %}




<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-style: none;">
        <div class="container">
            <div class="col-md-12" style="padding:10px 0px 10px 0px;">
                <div class="col-md-6">
                    <span style="color:#FFB03B;font-weight:bold;margin-top:10px;">Investment portfolio</span>
                </div>
                <div class="col-md-6">
                    <span class="pull-right" style="color:White;font-weight:bold;">
                        Welcome
                        {% if request.user.is_authenticated %}
                            {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'signup' %}">Sign up</a><b>|</b><a
                            href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </span>

                </div>

            </div>
        </div>
    </nav>
</header>

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class=" col-md-3 col-xs-12">
            <h3><b>Portfolio</b></h3>
            {% if request.user.is_authenticated %}
                {% for client in clients %}
                <div onclick="portfolioFncn({{client.id}})"> {{ client.portfolio.name.upper }}</div>
                {% endfor %}
                <!--{{dates}}-->
                <br />
                <!--{{net_nav}}-->
            {% else %}
                {% for portfolio in portfolios %}
                <div onclick="portfolioFncn({{portfolio.id}})"> {{ portfolio.name.upper }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-default">
                <div  style="display:none;" id="chart_panel" class="panel-body"
                     style="width:100%;height:500px"></div>
                <div id ="noData" style="display:none;padding:50px;">No Data Exist</div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

$(document).ready(function() {
    portfolioFncn("");
} );

function portfolioFncn(id){

var user_graph = {
    chart: {
    renderTo: 'chart_panel',
    type: 'line',
    },
    legend: {enabled: false},
    title: {text: 'User Share Details'},
    subtitle: {text: 'Nav/Share Vs Date'},
    xAxis: {title: {text: null}, labels: {rotation: -45}},
    yAxis: {title: {text: null}},
    series: [{}],
    };
    var chartDataUrl = "{% url "bar" %}"+""+id;
    $.getJSON(chartDataUrl,
    function(data) {
        $("#chart_panel").show();
        $("#noData").hide();
    if(data['dates'].length >0){
    user_graph.xAxis.categories = data['dates'];
    user_graph.series[0].name = 'Nav/Share in ' + data['name'];
    user_graph.series[0].data = data['net_nav'];
    var chart = new Highcharts.Chart(user_graph);
    }else{
        $("#chart_panel").hide();
        $("#noData").show();

    }
    });
    };

</script>
{% endblock %}