{% extends 'admin/change_form.html' %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    <input  hidden id ="fundData" value='{{crypto}}' />
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        {% block object-tools-items %}
        <li>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
        </li>
        {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
        {% endblock %}
    </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
            <p class="errornote">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ adminform.form.non_field_errors }}
            {% endif %}

            {% block field_sets %}
            {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% block admin_change_form_document_ready %}
            <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                var prevDividend = $('#id_dividends').val();
                var prevSet = $('#id_set').val();
                var prevSetVar = $('#id_set_var').val();


                $( "#id_fund_type" ).change(function() {
                    var fund = $('#id_fund_type').val();

                    if(fund  == "crypto"){
                        $(".field-dividends").css("display", "none");
                        $(".field-set").css("display", "none");
                        $(".field-set_var").css("display", "none");
                        prevDividends = $('#id_dividends').val();
                        prevSet = $('#id_set').val();
                        prevSetVar = $('#id_set_var').val();
                        $('#id_dividends').val('0');
                        $('#id_set').val('0');
                        $('#id_set_var').val('0');
                    }else{
                        $(".field-dividends").css("display", "block");
                        $(".field-set").css("display", "block");
                        $(".field-set_var").css("display", "block");
                        $('#id_dividends').val(prevDividends);
                        $('#id_set').val(prevSet);
                        $('#id_set_var').val(prevSetVar);
                    }
                });

                var fundData = {"total_injected": 0, "total_asset": 0, "shares": 0, "cumul_realized": 1, "nav_share": 1, "cumul_variation": 1,"set": 1};


                 $( "#id_portfolio" ).change(function() {

                        var portfolio = $('#id_portfolio').val();
                        var fundValue = $('#fundData').val();
                        fundValue = JSON.parse(fundValue);

                        if(fundValue[portfolio]){
                            fundData = fundValue[portfolio];
                         }
                });


                $('#id_total_injected').on('focus', function(){
                    if(!$('#id_total_injected').val()){
                        var tempValue = parseInt(fundData.total_injected) +  parseInt($('#id_buying').val()) - $('#id_redemption').val() - $('#id_dividends').val();
                        $('#id_total_injected').val(tempValue);
                    }
                });

                $('#id_total_asset').on('focus', function(){
                    if(!$('#id_total_asset').val()){
                        var tempValue =parseInt($('#id_cash_balance').val()) + parseInt($('#id_cost').val());
                        $('#id_total_asset').val(tempValue);
                    }
                });

                 $('#id_unrealized').on('focus', function(){
                    if(!$('#id_unrealized').val()){
                        var tempValue =$('#id_market_value').val() - $('#id_cost').val();
                        $('#id_unrealized').val(tempValue);
                    }
                });

                 $('#id_per_unrealized').on('focus', function(){
                    if(!$('#id_per_unrealized').val()){
                        var tempValue =$('#id_unrealized').val() / $('#id_cost').val();
                        $('#id_per_unrealized').val(tempValue);
                    }
                });

                $('#id_realized').on('focus', function(){
                    if(!$('#id_realized').val()){
                        var tempValue =$('#id_total_asset').val() - fundData.total_asset  - parseInt($('#id_buying').val()) + parseInt($('#id_redemption').val()) + parseInt($('#id_dividends').val());
                        $('#id_realized').val(tempValue);
                    }
                });
                //        self.realized = self.total_asset - total_asset_previous - self.buying + self.redemption + self.dividends

                $('#id_cumul_realized').on('focus', function(){
                    if(!$('#id_cumul_realized').val()){
                        var tempValue = parseInt(fundData.cumul_realized) + parseInt($('#id_realized').val());
                        $('#id_cumul_realized').val(tempValue);
                    }
                });
                // self.cumul_realized = cumul_previous + self.realized


                $('#id_gross_nav').on('focus', function(){
                    if(!$('#id_gross_nav').val()){
                        var tempValue =parseInt($('#id_cash_balance').val()) + parseInt($('#id_market_value').val());
                        $('#id_gross_nav').val(tempValue);
                    }
                });

                 $('#id_net_nav').on('focus', function(){
                    if(!$('#id_net_nav').val()){
                        var tempValue =$('#id_gross_nav').val() - $('#id_expenses').val();
                        $('#id_net_nav').val(tempValue);
                    }
                });

                $('#id_shares').on('focus', function(){
                    if(!$('#id_shares').val()){
                        var tempValue = parseInt(fundData.shares) + (( $('#id_buying').val() - $('#id_dividends').val()) / fundData.nav_share ) - (  $('#id_redemption').val() / fundData.nav_share);
                        $('#id_shares').val(tempValue.toFixed(4));
                    }
                });

                 // self.shares = shares_previous + ((self.buying - self.dividends) / nav_share_previous) - (self.redemption / nav_share_previous)


                 $('#id_nav_share').on('focus', function(){
                    if(!$('#id_nav_share').val()){
                        var tempValue =$('#id_net_nav').val() / $('#id_shares').val();
                        $('#id_nav_share').val(tempValue.toFixed(4));
                    }
                });

                $('#id_per_variation').on('focus', function(){
                    if(!$('#id_per_variation').val()){
                        var tempValue =$('#id_nav_share').val() / fundData.nav_share -1;
                        $('#id_per_variation').val(tempValue.toFixed(4));
                    }
                });

                // self.per_variation = self.nav_share / nav_share_previous - 1


                $('#id_cumul_variation').on('focus', function(){
                    if(!$('#id_cumul_variation').val()){
                        var tempValue = parseInt(fundData.cumul_variation) +  parseInt($('#id_per_variation').val());
                        $('#id_cumul_variation').val(tempValue);
                    }
                });


                //        self.cumul_variation = sum_of_per_veriation + self.per_variation

                $('#id_set_var').on('focus', function(){
                    if(!$('#id_set_var').val()){
                        if(fundData.set == 0){
                            fundData.set = 1;
                        }
                        var tempValue = ($('#id_set').val() - fundData.set ) / fundData.set ;
                        $('#id_set_var').val(tempValue);
                    }
                });

                  // self.set_var = (self.set - set_previous)/set_previous

                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(django.jQuery);


            </script>
            {% endblock %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form></div>
{% endblock %}
